html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
body {
    background-color: white;
}
.container {
    background-color: black;
    width: 70%;
    margin: auto;
}
/*************** HEADER ***************/
header {
    background-image: url(../img/eggs.jpg);
    height: 612px;
    width: 1420px;
    margin-left: 28px;  
}

.logo {
    color: #ffff;
    margin-right: 450px;
}
a {
    text-decoration:none;
    color: #ffff;
}
ul {
    display: flex;
    list-style-type: none;
}
li {
    margin-left: 50px;
    justify-content: end;
}
.make {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 50px;
}
.welcome {
    margin-left: 42%;
    margin-top: 50px;
    color: #ffff;
    align-items: center;
}
/*************** FIN HEADER ***************/
/*cores*/
.amarelo {
    color: #e88c01;
}
.branco {
    color: #ffff;
}
/*************** NAV ***************/
.container1 {
    width: 50%;
        margin: auto;
}
.discover {
    display: flex;
    justify-content:space-between
}
.menu {
    justify-content: center;
}
/*************** FIN NAV ***************

/*************** MAIN ***************/
.container2 {
    width: 60%;
        margin: auto;
}
.container3 {
    width: 50%;
    margin: auto;
}
/*************** FIN MAIN ***************/

/*************** ASIDE LEFT ***************/

/*************** FIN ASIDE LEFT***************/

/*************** SECTION 1 ***************/

/*************** FIN SECTION 1 ***************/

/*************** SECTION 2 ***************/

/*************** FIN SECTION 2 ***************/

/*************** SECTION 3 ***************/

/*************** FIN SECTION 3 ***************/

/*************** ASIDE RIGHT ***************/

/*************** FIN ASIDE RIGHT ***************/

/*************** FOOTER ***************/

/*************** FIN FOOTER ***************/